body{
text-align: center    
}
#insperation{
    background-color: aqua;
}
#drawing{
    background-color: azure
}

img:hover{
    transform: scale(1.2);
}
img{
    transition: transform .2s
}
.line{
  height: 6px;
    background-color:#000;
    width: 70px;
    margin: 8px auto;
}



































































